body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../nlle_donne_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:3px;
    top:0px;
    width:417px;
    height:812px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:812px;
}

.u1 {
    position:absolute;
    left:2px;
    top:398px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:3px;
    top:0px;
    width:417px;
    height:812px
}

.u2_original {
    background-image: url('../nlle_donne_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:43px;
    top:162px;
    width:319px;
    height:430px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:436px;
}

.u3 {
    position:absolute;
    left:2px;
    top:207px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:43px;
    top:162px;
    width:319px;
    height:430px
}

.u4_original {
    background-image: url('../nlle_donne_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:43px;
    top:137px;
    width:319px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:4px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:43px;
    top:137px;
    width:319px;
    height:25px
}

.u6 {
    position:absolute;
    left:81px;
    top:142px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_original {
    background-image: url('../nlle_donne_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:50px;
    top:140px;
    width:21px;
    height:21px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:21px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:50px;
    top:140px;
    width:21px;
    height:21px
}

.u9_original {
    background-image: url('../nlle_donne_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:335px;
    top:141px;
    width:19px;
    height:19px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:335px;
    top:141px;
    width:19px;
    height:19px
}

.u11 {
    position:absolute;
    left:57px;
    top:180px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_original {
    background-image: url('../nlle_donne_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:43px;
    top:112px;
    width:320px;
    height:26px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:5px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:43px;
    top:112px;
    width:320px;
    height:26px
}

.u14_original {
    background-image: url('../nlle_donne_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:53px;
    top:202px;
    width:300px;
    height:45px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u15 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:53px;
    top:202px;
    width:300px;
    height:45px
}

.u16_original {
    background-image: url('../nlle_donne_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:53px;
    top:371px;
    width:300px;
    height:49px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:55px;
}

.u17 {
    position:absolute;
    left:2px;
    top:16px;
    width:296px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:53px;
    top:371px;
    width:300px;
    height:49px
}

.u18_line {
    background-image: url('../nlle_donne_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:53px;
    top:246px;
    width:300px;
    height:3px;
}

.u18 {
    position:absolute;
    left:53px;
    top:246px;
    width:300px;
    height:3px
}

.u19_original {
    background-image: url('../nlle_donne_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:53px;
    top:247px;
    width:300px;
    height:123px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:129px;
}

.u20 {
    position:absolute;
    left:2px;
    top:54px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:53px;
    top:247px;
    width:300px;
    height:123px
}

.u21 {
    position:absolute;
    left:66px;
    top:262px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:273px;
    top:262px;
    width:30px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_original {
    background-image: url('../nlle_donne_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px
}

.u26_original {
    background-image: url('../nlle_donne_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:101px;
    top:0px;
    width:79px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:101px;
    top:0px;
    width:79px;
    height:30px
}

.u28_original {
    background-image: url('../nlle_donne_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:181px;
    top:0px;
    width:100px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u29 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:181px;
    top:0px;
    width:100px;
    height:30px
}

.u30_original {
    background-image: url('../nlle_donne_files/u24_original.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u31 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px
}

.u32_original {
    background-image: url('../nlle_donne_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:101px;
    top:0px;
    width:79px;
    height:30px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:36px;
}

.u33 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:101px;
    top:0px;
    width:79px;
    height:30px
}

.u34_original {
    background-image: url('../nlle_donne_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:181px;
    top:0px;
    width:100px;
    height:30px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u35 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:181px;
    top:0px;
    width:100px;
    height:30px
}

.u36_original {
    background-image: url('../nlle_donne_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px
}

.u38_original {
    background-image: url('../nlle_donne_files/u26_original.png');
}

.u38_container {
    position:absolute;
    left:101px;
    top:0px;
    width:79px;
    height:30px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:36px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:75px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:101px;
    top:0px;
    width:79px;
    height:30px
}

.u40_original {
    background-image: url('../nlle_donne_files/u34_original.png');
}

.u40_container {
    position:absolute;
    left:181px;
    top:0px;
    width:100px;
    height:30px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u41 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:181px;
    top:0px;
    width:100px;
    height:30px
}

.u43_original {
    background-image: url('../nlle_donne_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:30px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:30px
}

.u45_original {
    background-image: url('../nlle_donne_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:61px;
    top:0px;
    width:39px;
    height:30px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:36px;
}

.u46 {
    position:absolute;
    left:2px;
    top:7px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:61px;
    top:0px;
    width:39px;
    height:30px
}

.u47_original {
    background-image: url('../nlle_donne_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:62px;
    top:0px;
    width:60px;
    height:30px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u48 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:62px;
    top:0px;
    width:60px;
    height:30px
}

.u49_original {
    background-image: url('../nlle_donne_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u50 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:30px
}

.u51_original {
    background-image: url('../nlle_donne_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:61px;
    top:0px;
    width:49px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:36px;
}

.u52 {
    position:absolute;
    left:2px;
    top:7px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:61px;
    top:0px;
    width:49px;
    height:30px
}

.u53_original {
    background-image: url('../nlle_donne_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:63px;
    top:0px;
    width:60px;
    height:30px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:63px;
    top:0px;
    width:60px;
    height:30px
}

.u55_original {
    background-image: url('../nlle_donne_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:53px;
    top:430px;
    width:300px;
    height:40px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:46px;
}

.u56 {
    position:absolute;
    left:2px;
    top:12px;
    width:296px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:53px;
    top:430px;
    width:300px;
    height:40px
}

.u57 {
    position:absolute;
    left:57px;
    top:487px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_original {
    background-image: url('../nlle_donne_files/u16_original.png');
}

.u58_container {
    position:absolute;
    left:53px;
    top:530px;
    width:300px;
    height:49px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:55px;
}

.u59 {
    position:absolute;
    left:2px;
    top:8px;
    width:296px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:53px;
    top:530px;
    width:300px;
    height:49px
}

.u60_original {
    background-image: url('../nlle_donne_files/u60_original.png');
}

.u60_container {
    position:absolute;
    left:53px;
    top:510px;
    width:300px;
    height:18px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:24px;
}

.u61 {
    position:absolute;
    left:2px;
    top:0px;
    width:296px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:53px;
    top:510px;
    width:300px;
    height:18px
}

.u62_original {
    background-image: url('../nlle_donne_files/u62_original.png');
}

.u62_container {
    position:absolute;
    left:64px;
    top:290px;
    width:282px;
    height:30px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:282px;
    height:30px;
}

.u63 {
    position:absolute;
    left:2px;
    top:7px;
    width:278px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:64px;
    top:290px;
    width:282px;
    height:30px
}

.u64_original {
    background-image: url('../resources/images/transparent.gif');
}

.u64_container {
    position:absolute;
    left:224px;
    top:647px;
    width:50px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:224px;
    top:647px;
    width:50px;
    height:20px
}

.u66_original {
    background-image: url('../resources/images/transparent.gif');
}

.u66_container {
    position:absolute;
    left:37px;
    top:648px;
    width:50px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:37px;
    top:648px;
    width:50px;
    height:20px
}

.u68_original {
    background-image: url('../nlle_donne_files/u68_original.png');
}

.u68_container {
    position:absolute;
    left:326px;
    top:215px;
    width:13px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:20px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:326px;
    top:215px;
    width:13px;
    height:20px
}

.u70_original {
    background-image: url('../nlle_donne_files/u68_original.png');
}

.u70_container {
    position:absolute;
    left:326px;
    top:545px;
    width:13px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:20px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:326px;
    top:545px;
    width:13px;
    height:20px
}

.u73_original {
    background-image: url('../nlle_donne_files/u73_original.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:70px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:76px;
}

.u74 {
    position:absolute;
    left:2px;
    top:11px;
    width:102px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:70px
}

.u75_original {
    background-image: url('../nlle_donne_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:106px;
    top:0px;
    width:107px;
    height:70px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:76px;
}

.u76 {
    position:absolute;
    left:2px;
    top:11px;
    width:103px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:106px;
    top:0px;
    width:107px;
    height:70px
}

.u77_original {
    background-image: url('../nlle_donne_files/u73_original.png');
}

.u77_container {
    position:absolute;
    left:213px;
    top:0px;
    width:106px;
    height:70px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:76px;
}

.u78 {
    position:absolute;
    left:2px;
    top:11px;
    width:102px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:213px;
    top:0px;
    width:106px;
    height:70px
}

.u79_original {
    background-image: url('../nlle_donne_files/u79_original.png');
}

.u79_container {
    position:absolute;
    left:38px;
    top:9px;
    width:30px;
    height:30px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u80 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:38px;
    top:9px;
    width:30px;
    height:30px
}

.u81_original {
    background-image: url('../nlle_donne_files/u81_original.png');
}

.u81_container {
    position:absolute;
    left:257px;
    top:10px;
    width:30px;
    height:27px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:27px;
}

.u82 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:257px;
    top:10px;
    width:30px;
    height:27px
}

.u83_original {
    background-image: url('../nlle_donne_files/u83_original.png');
}

.u83_container {
    position:absolute;
    left:145px;
    top:9px;
    width:28px;
    height:30px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:30px;
}

.u84 {
    position:absolute;
    left:2px;
    top:7px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:145px;
    top:9px;
    width:28px;
    height:30px
}

